# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
build/
local.properties
library/src/androidTest/
library/src/test/
sample/src/androidTest/
sample/src/test/
